@model IEnumerable<LojaDeCarros.Models.Cliente>
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>
<p>
    @Html.ActionLink("Novo Cliente", "New",null, new {@class ="btn btn-primary"})
</p>

<table id="clientes" style="width:100%">
    <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Ver</th>
        <th>Editar</th>
        <th>Remover</th>
    </tr>
    @foreach (var cliente in @Model)
    {
        <tr>
            <td>@cliente.Nome</td>
            <td>@cliente.Cpf</td>
            <td>@Html.ActionLink("Ver", "Details", new { cliente.Id }, new { @class = "btn btn-primary" })</td>
            <td>@Html.ActionLink("Editar", "Edit", new { cliente.Id }, new { @class = "btn btn-primary" })</td>
            <td><button data-clientes-id="@cliente.Id" class="btn-link js-delete">Remover</button></td>
        </tr>

    }
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#clientes").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Tem certeza que deseja remover?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/clientes/delete/" + button.attr("data-clientes-id"),
                                    method: "GET",
                                    success: function () {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });

                });
        });
    </script>
}